.list {
  display: flex;
  flex-direction: column;
}

.list__item {
  display: flex;
  > * {
    flex: 1;
  }
  &:not(:first-child) {
    border-top: 0.1rem solid rgba(0,0,0, 0.2);
  }
}

.list__avatar {
  max-width: 7.5rem;
}
